.swal2-popup {
    font-size: 1.6rem !important;
  }

.nav-tabs {
    cursor: pointer;
}

.datatable_hidden {
    display: none;
}

.navbar-logo {
    margin: 4px 0px;
    float: left;
}

#navbar-login {
    padding-top: 8px;
    padding-bottom: 0px;
}

#navbar-dropdown {
    margin-top: 6px;
    margin-right: 15px;
}

.sans {
    font-family: 'Open Sans', sans-serif !important;
}

.label {
    font-family: 'Roboto', sans-serif !important;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 40px auto 0px auto;
}

ul .dropdown-menu .ng-isolate-scope {
    visibility: visible;
    display: block;
    opacity: 1;
}

#login-button {
    padding: 10px 15px;
}

.form-signin-heading {
    text-align: center;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .top-input {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin .middle-input {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin .bottom-input {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer>p {
    color: #444444;
    font-family: 'Open Sans', sans-serif;
}

.header {
    margin-top: 10px;
}

.sidebar {
    padding-left: 0px;
}

.sidebar a {
    color: #201e1c;
}

.sidebar a:hover {
    color: #201e1c;
}

.api_heading {
    font-family: 'Open Sans', sans-serif;
    background-color: #201e1c;
    border-radius: 5px;
    padding: 10px;
    color: #E2E2E2;
    width: 100%;
}

p {
    font-size: 1.2em;
}

.form-label {
    padding-top: 7px;
}

.hover {
    visibility: visible;
}

.edit-button {
    display: none;
}

.editable-row:hover .edit-button {
    display: inline-block;
    padding: 3px 6px;
    font-size: 9px;
}

.remove-row {
    float: right;
    cursor: pointer;
}

.pagination {
    margin: 0px;
}

@media (min-width: 992px) {
    .modal-dialog {
        width: 700px;
    }
}

.dropdown-menu>li>a {
    cursor: pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.typeahead {
    border-left-radius: 6px !important;
    float: none !important;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 422px;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.typeahead-button {
    line-height: 1.39 !important;
}

.ct-point {
    cursor: pointer;
}

.ct-timeline-point {
    cursor: pointer;
    stroke: #ffffff;
    stroke-width: 1px;
}

.ct-point-sending {
    fill: #428bca !important;
}

.ct-point-error {
    fill: #6c7a89 !important;
}

.ct-point-clicked {
    fill: #F39C12 !important;
}

.ct-point-opened {
    fill: #f9bf3b !important;
}

.ct-point-sent {
    fill: #1abc9c !important;
}

.ct-point-success {
    fill: #f05b4f !important;
}

.chartist-tooltip {
    position: absolute;
    display: inline-block;
    min-width: 5em;
    padding: .5em;
    background: #283F50;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    margin-left: 1.25em;
    font-size: .75em;
    border-radius: 4px;
}

.chartist-pie-tooltip {
    position: absolute;
    display: inline-block;
    min-width: 5em;
    padding: .5em;
    background: #283F50;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    margin-left: 1.25em;
    font-size: .75em;
    border-radius: 4px;
}

.chartist-tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #283F50
}

.chartist-chart {
    height: 175px;
}

.chartist-legend {
    list-style: none;
    position: absolute;
    padding-left: 0px;
    top: 0;
}

.chartist-legend li {
    display: block;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 8px;
    font-size: 14px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

.chartist-legend li span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.ct-series-a .ct-slice-donut {
    stroke: #1abc9c !important;
}

.ct-slice-donut.ct-slice-donut-error {
    stroke: #6c7a89 !important;
}

.ct-slice-donut.ct-slice-donut-sent {
    stroke: #1abc9c !important
}

.ct-slice-donut.ct-slice-donut-opened {
    stroke: #f9bf3b !important;
}

.ct-slice-donut.ct-slice-donut-success {
    stroke: #f05b4f !important;
}

.ct-slice-donut.ct-slice-donut-clicked {
    stroke: #F39C12 !important;
}

.ct-slice-donut.ct-slice-donut-sending {
    stroke: #428bca !important;
}

.ct-legend-error {
    background-color: #6c7a89 !important;
}

.ct-legend-sent {
    background-color: #1abc9c !important;
}

.ct-legend-opened {
    background-color: #f9bf3b !important;
}

.ct-legend-success {
    background-color: #f05b4f !important;
}

.ct-legend-clicked {
    background-color: #F39C12 !important;
}

.ct-legend-sending {
    background-color: #428bca !important;
}

.label-clicked {
    background-color: #F39C12 !important;
}

.gophish-editor {
    font-family: 'Courier New', Monospace !important;
    font-size: small !important;
}

#resultsMap {
    margin-top: -30px;
}

/* Handle the navbar collapse at < 1300px */

@media (min-width: 768px) and (max-width: 1300px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse,
    .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none !important;
    }
}

/* Table Styling */

.modal-content table {
    table-layout: fixed;
}

.modal-content .dataTable tbody td {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Smaller font on modal tables */
}

.dataTables_info {
    font-size: 15px;
}

/* Sort Icons */

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    font-family: 'FontAwesome' !important;
    position: relative !important;
    display: initial !important;
    top: initial !important;
    right: initial !important;
    left: 6px;
    color: #1abc9c;
}

table.dataTable thead .sorting:after {
    content: "\f0dc" !important;
    color: initial;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de" !important;
    opacity: .8 !important;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd" !important;
    opacity: .8 !important;
}

td.details-control {
    cursor: pointer;
}

.timeline {
    text-align: left;
    background-color: #ffffff;
}

.timeline-graph {
    margin-left: 30px;
}

.timeline>h6 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.timeline>.subtitle {
    color: #999999;
    font-style: italic;
    margin-bottom: 15px;
    display: block;
}

.timeline-entry {
    position: relative;
    padding-bottom: 36px;
}

.timeline-bar {
    display: block;
    content: "";
    position: absolute;
    top: 5px;
    bottom: 0;
    width: 1px;
    left: -6px;
    background: #aaaaaa;
}

.timeline-entry:last-child .timeline-bar {
    display: none;
}

.timeline-entry:last-child {
    padding-bottom: 0px;
}

.timeline-icon {
    position: relative;
    float: left;
    margin-left: -24px;
    width: 36px;
    top: -5px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
}

.timeline-icon>i {
    margin-top: 10px;
    color: #ffffff;
}

.timeline-message {
    padding-left: 30px;
}

.timeline-date {
    float: right;
    color: #999999;
    font-style: italic;
}

.timeline-event-details {
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
}

.timeline-replay-button {
    margin-top: 10px;
}

.timeline-event-details>.table-responsive {
    display: none;
}

.timeline-event-details {
    margin-top: 10px;
    margin-bottom: 10px;
}

.timeline-event-results {
    font-size: 16px;
    display: none;
}

.timeline-device-details {
    font-size: .8em;
    margin-top: 10px;
}

.timeline-device-os>span.fa-stack {
    font-size: .8em;
}

.timeline-device-browser>span.fa-stack {
    font-size: .8em;
}

.timeline-device-browser>span.fa-stack>i.fa-stack-1x {
    font-size: 1.5em;
}

i.fa-vendor-icon {
    font-size: .6em;
}

i.fa-tablet+i.fa-vendor-icon {
    top: -2px;
}

i.fa-tablet+i.fa-vendor-icon {
    top: -2px;
}

i.fa-laptop+i.fa-vendor-icon {
    top: -2px;
}

.tooltip-inner {
    width: 300px !important;
}

#refresh_message {
    display: none;
}

#capture_passwords {
    display: none;
}

#redirect_url {
    display: none;
}

@media (max-width: 767px) {
    .navbar-header {
        margin-left: 10px !important;
    }
}

table.dataTable {
    width: 100% !important;
}

.btn-blue {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.btn-blue:hover {
    background-color: #64a1d6;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    font-size: 15px !important;
}

.select2-container--bootstrap .select2-selection--single {
    height: 42px !important;
    padding: 8px 12px !important;
}

.input-group-btn .btn {
    line-height: 20px !important;
}

.highcharts-title {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 16px !important;
}

.color-success {
    font-weight: bold;
    color: #f05b4f;
}

.color-sent {
    font-weight: bold;
    color: #1abc9c;
}

.color-opened {
    font-weight: bold;
    color: #f9bf3b;
}

.color-clicked {
    font-weight: bold;
    color: #f39c12;
}

.color-reported {
    font-weight: bold;
    color: #45d6ef;
}

.color-success {
    color: #f05b4f;
}

.nav-sidebar>li.active>a:focus,
.nav-sidebar>li.active>a:hover {
    background-color: #37485a;
}

.nav-badge {
    margin-top: 5px;
}

#resultsMapContainer {
    display: none;
}

#csv-template {
    margin-left: 15px;
    cursor: pointer;
}

.cke_chrome {
    border-top: 0 !important;
}

.cke_autocomplete_panel {
    width: 400px !important;
}

.cke_autocomplete_panel>li {
    padding: 10px 5px !important;
}

#password-strength {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 8px;
}
#password-strength-description {
    font-size: 12px;
}
#password-strength-container {
    height: 40px;
}

/* Legacy SSO Button Styles (maintained for compatibility) */
.sso-login-section:not(.primary-auth) {
    margin-bottom: 20px;
}

.sso-button {
    background-color: #0078d4;
    border-color: #106ebe;
    color: white !important;
    text-decoration: none !important;
    transition: all 0.2s;
    margin-bottom: 15px;
}

.sso-button:hover {
    background-color: #106ebe;
    border-color: #005a9e;
    color: white !important;
    text-decoration: none !important;
}

.microsoft-btn {
    background-color: #0078d4;
    border-color: #106ebe;
}

.microsoft-btn:hover {
    background-color: #106ebe;
    border-color: #005a9e;
}

.divider {
    text-align: center;
    position: relative;
    margin: 20px 0;
}

.divider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ddd;
}

.divider-text {
    background-color: white;
    padding: 0 15px;
    color: #666;
    font-size: 12px;
    text-transform: uppercase;
}

/* SSO-First Authentication Styles */
.primary-auth {
    margin-bottom: 30px;
}

.auth-instruction {
    text-align: center;
    margin-bottom: 25px;
}

.auth-heading {
    font-size: 24px;
    font-weight: 300;
    color: #333;
    margin-bottom: 8px;
    font-family: 'Source Sans Pro', sans-serif;
}

.auth-subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 0;
    font-weight: normal;
}

.primary-sso-btn {
    background-color: #0078d4;
    border-color: #106ebe;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 20px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 120, 212, 0.2);
}

.primary-sso-btn:hover {
    background-color: #106ebe;
    border-color: #005a9e;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 120, 212, 0.3);
}

.primary-sso-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 120, 212, 0.2);
}

.sso-text {
    margin-left: 8px;
}

/* SSO Status Indicators */
.sso-status {
    margin-top: 15px;
    min-height: 30px;
}

.status-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
}

.status-indicator.connecting {
    background-color: #e8f4fd;
    color: #0078d4;
    border: 1px solid #b3d9f7;
}

.status-indicator.error {
    background-color: #fdf2f2;
    color: #d73a49;
    border: 1px solid #f7b3b3;
}

.status-indicator i {
    margin-right: 8px;
}

/* Emergency Access Styles */
.emergency-access-section {
    margin-top: 30px;
    text-align: center;
}

.emergency-toggle {
    background: none;
    border: none;
    color: #666;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease;
    padding: 8px 12px;
    border-radius: 4px;
}

.emergency-toggle:hover {
    color: #333;
    background-color: #f8f9fa;
    text-decoration: none;
}

.emergency-toggle:focus {
    outline: 2px solid #0078d4;
    outline-offset: 2px;
}

.emergency-toggle.emergency-fallback {
    color: #d73a49;
    background-color: #fdf2f2;
    border: 1px solid #f7b3b3;
    font-weight: 500;
}

.emergency-toggle.emergency-fallback:hover {
    background-color: #fcebeb;
}

.emergency-toggle i {
    margin-right: 6px;
}

/* Local Login Section */
.local-login-section {
    margin-top: 20px;
    padding-top: 20px;
    animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.emergency-divider {
    text-align: center;
    position: relative;
    margin: 20px 0;
}

.emergency-divider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ddd;
}

.emergency-divider .divider-text {
    background-color: white;
    padding: 0 15px;
    color: #d73a49;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.emergency-warning {
    background-color: #fff3cd;
    border: 1px solid #ffeaa7;
    border-radius: 4px;
    padding: 12px 15px;
    margin-bottom: 20px;
    text-align: left;
}

.emergency-warning i {
    color: #856404;
    margin-right: 8px;
}

.emergency-warning strong {
    color: #856404;
    display: block;
    margin-bottom: 4px;
}

.emergency-warning p {
    margin: 0;
    font-size: 13px;
    color: #6c5914;
}

.local-form-fields {
    margin-top: 15px;
}

.emergency-login-btn {
    background-color: #6c757d;
    border-color: #5a6268;
    font-weight: 500;
}

.emergency-login-btn:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.cancel-emergency {
    color: #6c757d;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
}

.cancel-emergency:hover {
    color: #495057;
    text-decoration: underline;
}

/* Screen Reader Only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Mobile Responsive Styles */
@media (max-width: 767px) {
    .auth-heading {
        font-size: 20px;
    }

    .auth-subtitle {
        font-size: 13px;
    }

    .primary-sso-btn {
        padding: 12px 16px;
        font-size: 15px;
    }

    .emergency-warning {
        padding: 10px 12px;
        font-size: 12px;
    }

    .emergency-warning p {
        font-size: 12px;
    }

    .mobile-compact .auth-subtitle {
        display: none;
    }

    .form-signin {
        padding: 15px 20px;
        margin: 20px auto 0;
    }

    .emergency-access-section {
        margin-top: 20px;
    }
}

/* High Contrast Mode Support */
@media (prefers-contrast: high) {
    .primary-sso-btn {
        border: 2px solid #000;
    }

    .emergency-toggle {
        border: 1px solid #666;
    }

    .emergency-warning {
        border: 2px solid #856404;
    }
}

/* Reduced Motion Support */
@media (prefers-reduced-motion: reduce) {
    .primary-sso-btn {
        transition: none;
    }

    @keyframes slideDown {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .local-login-section {
        animation-duration: 0.1s;
    }
}

/* Focus Styles for Better Accessibility */
.primary-sso-btn:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #0078d4;
}

.emergency-login-btn:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 2px;
}

input:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #0078d4;
}